name: Actionlint

on:
  workflow_call:

jobs:
  actionlint:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Setting up python for Pyflakes integration
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11.1"

      - name: Install Dependencies
        run: |
          # Shellcheck (for bash "run:" steps)
          sudo apt install shellcheck=0.8.0-2


          # Pyflakes (for python "run:" steps)
          pip install --upgrade pip==23.0 pyflakes==3.0.1

          # Download the latest actionlint release for this platform
          bash <(curl -sSfL https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)

      - name: Run Actionlint
        run: ./actionlint -color
